<label>start_date:</label>
<%= @gmail.start_date %> <br/>
<label>end_date:</label>
<%= @gmail.end_date %> </br>

<h2> Your room 
<%= @gmail.room.name %>  is suceessfully booked and wait till confirmation</h2>